<div class="banner-container">
    <a class="banner-link" href="https://www.daily.co/blog/daily-announces-a-15m-series-a-led-by-lachy-groom">
        <span class="banner-text">Daily announces $15 million Series A</span>
        {{> "icons/arrow"}}
    </a>
</div>