<div class="site-search" style="display:none">
  <div class="search-input-wrapper">
    <input
      id="search-input-mobile"
      class="search-input"
      type="text"
      placeholder="Enter search term..."
    />
  </div>
  <div id="search-results-mobile" class="search-results"></div>
</div>