{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
  <div class="outer">
    <div class="inner">
      {{> "site-nav"}}
      {{> "site-search"}}
    </div>
  </div>
</header>
{{!-- mobile/tablet nav --}}
{{> "site-nav-mobile"}}
{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
  <div class="inner posts">
    {{#get 'posts' limit='2' filter="featured:true" include="tags,authors"}}
      <h2 class="home-section-title featured-title">Featured</h2>
      <div class="featured-container">
        {{#foreach posts}}
        {{!-- The tag below includes the markup for each featured post - partials/post-card.hbs --}}
          {{> "post-card"}}
        {{/foreach}}
      </div>
    {{/get}}

    <div class="lower-container">
      <div class="left-container">
        {{!-- Get all must read posts --}}
        {{#get 'posts' limit="5" filter="tags:[must-read]"}}
          <h2 class="home-section-title">Must read</h2>
          <div class="must-read-container">
            {{#foreach posts}}
              {{> "must-read-card"}}
            {{/foreach}}
          </div>
        {{/get}}
        <div class="tag-container">
          {{!-- fetch non category 'tags' --}}
          {{#get 'tags' limit='all' filter="slug:-[code-tutorials,tools-tips,product,interviews]"}}
            <h2 class="home-section-title">Tags</h2>
            <div class="tags">
              {{#foreach tags}}
                <a class="post-card-content-link" href="{{url}}">
                  <div class="blog-tag">{{name}}</div>
                </a>
              {{/foreach}}
            </div>
          {{/get}}
          {{!-- fetch category tags --}}
          {{#get 'tags' limit='all' filter="slug:[code-tutorials,tools-tips,product,interviews]"}}
            <h2 class="home-section-title">Categories</h2>
            <div class="categories tags">
              {{#foreach tags}}
                <a class="post-card-content-link" href="{{url}}">
                  <div class="blog-tag">{{name}}</div>
                </a>
              {{/foreach}}
            </div>
          {{/get}}
        </div>
      </div>
      <div class="right-container">
        <h2 class="home-section-title">All posts</h2>
        <div class="post-feed">
          {{#foreach posts}}
            {{#unless featured}}
            {{!-- The tag below includes the markup for each "normal" post - partials/post-card.hbs --}}
              {{> "post-card"}}
            {{/unless}}
          {{/foreach}}
        </div>
      </div>
    </div>
  </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

      var nav = document.querySelector('.site-nav-main .site-nav') || document.querySelector('.site-nav');
      var feed = document.querySelector('.post-feed');

      var lastScrollY = window.scrollY;
      var lastWindowHeight = window.innerHeight;
      var lastDocumentHeight = $(document).height();
      var ticking = false;

      function onScroll() {
        lastScrollY = window.scrollY;
        requestTick();
      }

      function onResize() {
        lastWindowHeight = window.innerHeight;
        lastDocumentHeight = $(document).height();
        requestTick();
      }

      function requestTick() {
        if (!ticking) {
          requestAnimationFrame(update);
        }
        ticking = true;
      }

      function update() {
        var trigger = feed.getBoundingClientRect().top + window.scrollY;
        var progressMax = lastDocumentHeight - lastWindowHeight;

        // show/hide nav
        if (lastScrollY >= trigger - 20 && nav) {
          nav.classList.add('fixed-nav-active');
        } else {
          nav.classList.remove('fixed-nav-active');
        }

        ticking = false;
      }

      window.addEventListener('scroll', onScroll, { passive: true });
      window.addEventListener('resize', onResize, false);

      update();

    });
  </script>
{{/contentFor}}